<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.ex01.android_project_leehongjae_20170616">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calc"/>
        <activity android:name=".Gallary"/>
        <activity android:name=".Result"/>
        <activity android:name=".BestResult"/>
        <activity android:name=".Music"/>
        <activity android:name=".Scheduler_main"/>
        <activity android:name=".Insert"/>
        <activity android:name=".SelectOne"/>
        <activity android:name=".SelectAll"/>
    </application>

</manifest>